/*
html {
	font-family: 'ITC Avant Garde Gothic Std Bold', 'Century Gothic', sans-serif;
	font-family: 'ITC Avant Garde Gothic Std Book', 'Century Gothic', sans-serif;
	font-family: 'ITC Avant Garde Gothic Std ExtraLight', 'Century Gothic', sans-serif;
	font-family: 'ITC Avant Garde Gothic Std Medium', 'Century Gothic', sans-serif;
	color:#263F43;
}
*/

body {
	border:0px solid #263F43;
	font-family: 'Ubuntu', sans-serif;;
	color:#263F43;
	background-color: #02B8BD;
}

.container {
	margin-top:60px;
}

.menutoggle {
	position: absolute;
	font-size: 18px;
	color:#fff;
	position: absolute;
	right:20px;
	top:35px;
	display: none;
}

header {
	position: fixed;
	top:0;
	width: 100%;
	background: #FAE738;
	color:#fff;
	z-index: 5;
	padding:30px 0px;
	transition: all .3s ease;
}

header.headroom--unpinned {
	top:-75px;
}

header.headroom--unpinned:hover {
	top:0;
}

.header-inner {
	position: relative;

}

header a {
	color:#3D5659;
	text-decoration: none;
}

header ul {
	list-style: none;
	padding: 0px;
	margin:0px;
}

header ul li {
	display: inline-block;
}

header .mainnav {
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
	margin-top:2px;
}

header .mainnav li {
	margin:0px 8px;
}

.header-titleimg {
	max-width: 120px;
	position: absolute;
	left:20px;
	top:-25px;
}

.header-titleimg img {
  max-width: 120px;
}

.spoon-svg-white {
	fill:#fff;
	width: 100%;
}

.container {
	max-width: 2000px;
}

.section-title {
	font-size: 25px;
	font-family: 'Ubuntu', sans-serif;;
	font-weight: normal;
	font-style: normal;
	margin-top:0px;
	margin-bottom: 20px;
}

.socialnav {
	position: absolute;
	right:20px;
	top:-3px;
}

.socialnav li {
	margin:0 5px;
	font-size: 14px;
}

.home-carousel .cell {
	width: 100%;
}

.home-carousel .cell .photo {
	margin:auto;
	max-width: 100%;
}

.flickity-prev-next-button {
	display: none;
}

.tour-btn {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	color:#000;
	text-decoration: none;
	padding:8px 15px 5px;
	border:3px solid #000;
	margin:25px;
}

/** home section **/

#home {
	text-align: center;
	margin:auto;
	width:90%;
	max-width: 1200px;
	padding:50px 0px;
	border-bottom: 30px solid #263F43;
}

img.shesohottype {
	width: 80%;

}

.packshot {
	width: 40%;
	max-width: 700px;
	display: inline-block;
}

.packshot img {
	width: 100%;
}

.home-info {
  display: inline-block;
  vertical-align: middle;
  width: calc(30% - 25px);
  max-width: 700px;
  padding: 10px;
}

.st0{display:none;}
.st1{display:inline;}
.st2{display:none;fill:#231F20;}

.available {
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	font-style: normal;
	margin:20px auto;
	font-size: 25px;
}

.stream  {
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	margin:13px auto 10px;
}

.stream a {
	color:#263F43;
	text-decoration: none;
	margin:0px 5px;
}

.order {
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	font-style: normal;
	margin:5px;
	display: inline-block;
}

.order a {
    color: #263F43;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    border: 3px solid #263F43;
    font-size: 18px;
    display: inline-block;
}

.order a:hover {
	background: #263F43;
	color:#fff;
}

.order.last {
	margin-bottom: 10px;
}

.home-info .titleimg img {
    max-width: 100%;
}

/** preorder section **/

#purchase {
	text-align: center;
	margin:auto;
	width:90%;
	max-width: 1200px;
	padding:50px 0px;
	border-bottom: 30px solid #263F43;
}

.vinyl {
  display: inline-block;
  width: calc(100% - 24px);
  margin: 10px;
  vertical-align: top;
}

.vinyl img {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}

.vinyl-description {
	display: inline-block;
	vertical-align: middle;
	margin-left:30px;
	max-width: 350px;
}

.spotifywrap {
	display: inline-block;
	width: 350px;
	vertical-align: middle;
	margin-right: 20px;
}

.vinyl-title {
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
	margin:10px auto;
	margin-top:20px;
}

.preorder {
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
	display: inline-block;
	margin: 10px;
}

.preorder a {
	color:#263F43;
	text-decoration: none;
	border:2px solid #263F43;
	padding:10px 15px 10px 15px;
	display: inline-block;
}

.preorder a:hover {
	background: #263F43;
	color:#fff;
}

/** exclusive section **/

#live {
	text-align: center;
	margin:auto;
	width:90%;
	max-width: 1200px;
	padding:50px 0px;
	border-bottom: 30px solid #263F43;
}

.grat-mockup {
	display: inline-block;
	width: 50%;
}

.grat-mockup img {
	width: 100%;
}

.vinylgrat-description {
	display: inline-block;
	vertical-align: middle;
	width: calc(50% - 25px);
	padding:10px;
}

/** digital **/

.cd-wrap {
	width:calc(50% - 10px);
	display: inline-block;
	vertical-align: middle;
}

.videowrap {
	width:calc(100% - 380px);
	margin:10px auto;
	display: inline-block;
	vertical-align: middle;
}

.videowrap img {
  max-width: 100%;
  margin-bottom: 30px;
}

.videowrap h1 {
  font-size: 50px;
  text-transform: uppercase;
}


#stream {
	text-align: center;
	margin:auto;
	width:90%;
	max-width: 1200px;
	padding:50px 0px;
	border-bottom: 30px solid #263F43;
}

#stream .preorder {
	display: inline-block;
	margin:10px;
}

.cd-digital-wrap {
	margin:50px auto 0px;
}

.cd-digital {
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	font-style: normal;
	margin:0px auto 10px;
	font-size: 25px;
}

.packshot.cd {
	max-width: 500px;
}

/** quotes section **/

#quotes {
	text-align: center;
	margin:auto;
	width:90%;
	max-width: 1200px;
	padding:50px 0px;
	border-bottom: 30px solid #263F43;
}

.quote-list {
	padding:0px;
	margin:0px;
	list-style-type: none;
}

.quote-list li {
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 24px);
	margin: 5px 10px;
}

.quote {
	display: block;
	margin-bottom: 5px;
}

.pub {
	font-family: 'Ubuntu', sans-serif;
}

/** insta **/

#instagram {
	margin:0;
	padding:0;
	overflow:hidden;
}

#instagram li {
	list-style:none;
	float:left;
	margin:0 20px 20px 0;
}

#photos {
	text-align: center;
	margin: auto;
	width: 90%;
	max-width: 1200px;
	padding: 50px 0px;
	border-bottom: 30px solid #263F43;
}

#instagram li img {
	width: 100%;
}

/** follow section **/

#sign-up {
	text-align: center;
	margin:auto;
	width:90%;
	max-width: 1200px;
	padding:50px 0px 0px 0px;
}

.social {
	text-align: center;
	font-size: 20px;
}

.social ul {
	list-style-type: none;
	padding:0px;
	margin:0px;
}

.social li {
	display: inline-block;
	margin:5px;
}

.social li a {
	color:#263F43;
	text-decoration: none;
}

#cm-simple_form-1 {
	margin:auto;
	max-width: 100%;
}

.cm-field-row {
	display: inline-block;
  margin: 10px 5px;
  vertical-align: top;
}

.field-required {
	position: absolute;
  margin-left: -10px;
}

.cm-field-row input {
	outline:0px;
	border:2px solid #263F43;
  padding: 7px 10px 3px;
}

.country-field {
  padding: 5px 10px;
  height: 36px;
  border: 2px solid #263F43;
  border-radius: 0px;
  outline:0px;
  background: #fff;
}

#cm-form-1-0-submit {
	border:2px solid #263F43;
	padding: 7px 10px 3px;
	background: #fff;
	outline:0px;
}

.jackie-logo {
  width: 120px;
  text-align: center;
  margin: auto;
  margin: 20px auto;
  margin-top: 55px;
}

.jackie-logo img {
	width: 100%;

}

.form-textbox {
	border:3px solid #263F43;
	padding:7px 10px 3px;
	outline:0px;
	width: calc(100% - 26px);
	max-width: 380px;
	border-radius: 3px;
}

.form-textbox.countryselect {
	max-width: 405px;
}

.sub-bttn {
	background: #263F43;
	color:#fff;
	padding:10px 10px 10px;
	border-radius: 3px;
	border:3px solid #263F43;
	max-width: 405px;
	width: 100%;
}

.bit-rsvp {
	display: none;
}

#lightbox.active {
	position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
	left:0;
	background: rgba(0,0,0,.9);
}

#lightbox .lbox {
	cursor: pointer;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	max-width: 90%;
	max-height: 90%;
}

/** media queries **/

@media screen and (max-width: 900px) {
	#home, #purchase, #live, #stream, #photos {
		border-bottom: 20px solid #263F43;
	}
	#instagram li {
		margin:10px;
		width: calc(33.3% - 24px);
	}
	.packshot {
		width: 100%;
	}
	.home-info {
		width: 100%;
		margin-top:20px;
		padding:0px;
	}
	.vinyl {
		margin:20px auto;
		width: 100%;
	}
	.vinyl img {
		width: 100%;
	}
	.vinyl-description {
		width:100%;
		margin:0 auto;
	}
	.grat-mockup {
		width: 100%;
	}
	.vinylgrat-description {
		padding:0px;
		width: 100%;
		margin-top:20px;
	}
	.spotifywrap {
		width: 100%;
	}
	.cd-wrap {
		width: 100%;
		display: block;
		margin:20px auto;
	}
	.videowrap {
		width: 100%;
		display: block;
		margin:50px auto;
	}
	.quote-list li {
		width:100%;
		margin:0px auto;
	}
}

@media screen and (max-width: 800px) {
	.menutoggle {
		display: block;
	}
	.bars,.close {
		display: none;
	}
	header .bars {
		display: block;
	}
	header.menuactive .bars {
		display: none;
	}
	header.menuactive .close {
		display: block;
	}
	header {
		padding:15px 0px;
	}
	header .mainnav,
	header .socialnav {
		display: none;
	}
	header.menuactive .mainnav,
	header.menuactive .socialnav {
		display: block;
		margin-top: 25px;
		text-align: left;
		padding-left: 25px;
	}
	.header-titleimg {
		position: relative;
		left:20px;
		top:auto;
	}
	header .mainnav li {
		display: block;
		margin:5px auto;
	}
	header .socialnav {
		position: relative;
		right:auto;
		top:auto;
		margin:20px auto 0px;;
		text-align: center;
	}
}

@media screen and (max-width: 600px) {
	#instagram li {
		width:calc(50% - 24px);
	}

  h2.section-title.purchase {
    margin-top: 25px;
  }
}

/*Mail Chimp Styling*/


#mc_embed_signup form {
  display: block;
  position: relative;
  text-align: center !important;
  padding: 10px 0 10px 0;
}

#mc_embed_signup input.button {
    display: block;
    width: 35%;
    margin: 0 auto;
    min-width: 90px;
}

#mc_embed_signup .button {
    clear: both;
    background-color: #aaa;
    border: 0 none;
    border-radius: 4px;
    letter-spacing: .03em;
    color: #FFFFFF;
    cursor: pointer;
    display: block !important;
    font-size: 15px;
    height: 32px;
    line-height: 32px;
    margin: 0 0px 10px 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
    transition: all 0.23s ease-in-out 0s;
  }

  #mc_embed_signup input.email {
    font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
    font-size: 15px;
    display: inline-block !important;
    padding: 0 0.4em;
    margin: 0 0 10px 0;
    min-height: 32px;
    width: 58%;
    min-width: 130px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}